
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperPrice Products</title>
</head>
<body>

<h2>Add a new product</h2>
<form action="{{ url_for('add_product') }}" method="post">
    <label for="product_name">Product Name:</label>
    <input type="text" id="product_name" name="product_name" required>
    
    <label for="product_price">Product Price:</label>
    <input type="number" step="0.01" id="product_price" name="product_price" required>

    <input type="submit" value="Add Product">
</form>

<h2>List of Products</h2>
  <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <!-- Update product link -->
                    <a href="{{ url_for('update_product', product_id=product.id) }}">Update</a>

                    <!-- Delete product form. It's a form because it's a POST request -->
                    <form action="{{ url_for('delete_product', product_id=product.id) }}" method="post" style="display: inline;">
                        <button type="submit" onclick="return confirm('Are you sure?');">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
</body>
</html>

